In [1]:
name = 'hello'

In [2]:
my_list = []

for letter in name:
    my_list.append(letter)

In [3]:
my_list

['h', 'e', 'l', 'l', 'o']

In [4]:
my_list = [ x for x in 'hello']

In [5]:
my_list

['h', 'e', 'l', 'l', 'o']

In [6]:
my_list = [x**2 for x in range(0,10)]

In [7]:
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
my_list = [ x for x in range(0,20) if x%2 ==0]

In [9]:
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
celsius = [0,10,20,40.5]
farenheit = [(9/5)*temp +32 for temp in celsius]

In [14]:
type(farenheit)

list